<div class="topNav" role="navigation">
    <div class="PageMenu">
        <div class="inner">
            <div id="sideToggleMenu">
                <a href="#" id="open-left"><i class="fa fa-bars fa-lg"></i> <span>Menu</span></a>
            </div>
            <div id="top-logo" class="animated firstRun">
                               <!--%%GLOBAL_HeaderLogo%%-->
                <img src="https://cdn2.bigcommerce.com/n-d57o0b/z2s1p9is/product_images/uploaded_images/md225-56logo.png?t=1426280518"
                        alt="ModernDomicile Logo" style="width:153px;height:40px">
            </div>
            <div id="sideToggleMenuRight">
                <span id="topCart">
                    <a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%"><span>%%GLOBAL_CartItems%%</span>&nbsp;<i class="fa fa-shopping-cart fa-lg"></i></a>
                </span>           
            </div>
        </div>
    </div>
</div>
